@import url("https://fonts.googleapis.com/css?family=ABeeZee|La+Belle+Aurore&display=swap");

.portfolioBoxesWrapper {
  width: 120px;
  height: 480px;
}

.portfolioBox {
  width: 120px;
  height: 120px;
  border: 1px solid rgba(229, 229, 229, 0.8);
  font-family: "ABeeZee", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  p {
    font-family: ABeeZee, sans-serif;
    font-size: 36px;
    color: rgba(229, 229, 229, 0.8);
    text-transform: uppercase;
  }
}
