/*************************
//*         FONTS
************************/

// font-family: 'ABeeZee', sans-serif;
// font-family: 'La Belle Aurore', cursive;

@import url("https://fonts.googleapis.com/css?family=ABeeZee|La+Belle+Aurore&display=swap");

/*************************
//*        COLORS
************************/
$bgColorPrimary: #c98383;
$bgColorSecondary: rgba(119, 75, 75, 0.77);
$txtColorPrimary: #fff;
$txtColorSecondary: rgba(229, 229, 229, 0.8);
